.root{
    -fx-background-color: #221F1F;
}

Scene {
    -fx-background-color: #221F1F;
}

.button {
    -fx-background-color: #E50914;
    -fx-text-fill-color: #F5F5F1;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
}

ScollPane {
    -fx-background-color: #221F1F;
}

VBox {
    -fx-background-color: #221F1F;
}

.check-box .box{
    -fx-background-color: #E50914;
}

.sub-checkbox {
    -fx-background-color: white;
}

.containerBorder {
    -fx-border-color: white;
}

.choice-box .menu-item > .label { -fx-text-fill: white;}
.choice-box {-fx-background-color: white;}
.choice-box > .label { -fx-text-fill: black; }


.menu-bar {
    -fx-background-color: #000000;
    -fx-border-width: 2.0;
    -fx-border-color: white;
}

.menu-item:hover, .menu-button:hover, .menu-button:showing {
    -fx-background-color:#E50914;
}

.menu-item {
    -fx-background-color: #221F1F;
}